---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->
<h3 class="archive__subtitle">{{ "My Projects" }}</h3>

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %} -->

<!-- {% assign entries_layout = page.entries_layout | default: 'list' %} -->
<!-- <div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div> -->

<!-- temporary presentation -->
<div class="entries">
  <a href="https://github.com/WuWaA/Combined-Website-Framework">
    <strong>Combined Website Framework</strong>
  </a>
  <br>
  <span>Node.js + Express.js + MongoDB + Google Material Design + Webpack</span>
</div>
<br>
<div class="entries">
  <a href="https://github.com/WuWaA/Othello-Game">
    <strong>Othello Game</strong>
  </a>
  <br>
  <span>GUI Othello game with Java and JavaFX</span>
</div>
<br>
<div class="entries">
  <a href="https://github.com/WuWaA/Windows-Service-Path-Viewer">
    <strong>Windows Service Path Viewer</strong>
  </a>
  <br>
  <span>A small Java made GUI tool which could listing all Windows Services sort by name, path, or state.</span>
</div>
<div class="entries">
  <a href="https://github.com/WuWaA/Snake-Javascript">
    <strong>Snake Javascript</strong>
  </a>
  <br>
  <span>Snake game write with Javascript using p5.js and p5.dom.js</span>
</div>
<br>
<div class="entries">
  <a href="https://github.com/WuWaA/Online-Chatroom-CLI">
    <strong>Online Chatroom CLI</strong>
  </a>
  <br>
  <span>Online chatroom command line version</span>
</div>
<br>
<div class="entries">
  <a href="https://github.com/WuWaA/">
    <strong>All Other Projects</strong>
  </a>
</div>

<!-- {% include paginator.html %} -->