---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->
<h3 class="archive__subtitle">{{ "My Projects" }}</h3>

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %} -->

<!-- {% assign entries_layout = page.entries_layout | default: 'list' %} -->
<!-- <div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div> -->

<!-- temporary presentation -->
<ul class="taxonomy__index">
  <li>
    <a href="https://github.com/WuWaA/Combined-Website-Framework">
      <strong>Combined Website Framework</strong>
      <br>
      <span>Node.js + Express.js + MongoDB + Google Material Design + Webpack</span>
    </a>
  </li>
  <br>
  <li>
    <a href="https://github.com/WuWaA/Othello-Game">
      <strong>Othello Game</strong>
      <br>
      <span>GUI Othello game with Java and JavaFX</span>
    </a>
  </li>
  <br>
  <li>
    <a href="https://github.com/WuWaA/Windows-Service-Path-Viewer">
      <strong>Windows Service Path Viewer</strong>
      <br>
      <span>A small Java made GUI tool which could listing all Windows Services sort by name, path, or state.</span>
    </a>
  </li>
  <br>
  <li>
    <a href="https://github.com/WuWaA/Snake-Javascript">
      <strong>Snake Javascript</strong>
      <br>
      <span>Snake game write with Javascript using p5.js and p5.dom.js</span>
    </a>
  </li>
  <br>
  <li>
    <a href="https://github.com/WuWaA/Online-Chatroom-CLI">
      <strong>Online Chatroom CLI</strong>
      <br>
      <span>Online chatroom command line version</span>
    </a>
  </li>
  <br>
  <li>
    <a href="https://github.com/WuWaA/">
      <strong>All Other Projects</strong>
    </a>
  </li>
</ul>

<!-- {% include paginator.html %} -->